<h2>Comparing Tim Duncan and Kobe Bryant</h2>
{{#each players}}
<h2>{{this.firstName}} {{this.lastName}}</h2>
<img src="https://nba-players.herokuapp.com/players/{{this.lastName}}/{{this.firstName}}" alt={{this.firstName}}>
<ul>
  <li>Date of Birth: {{this.dob}}</li>
  <li>Position: {{this.position}}</li>
  <li>Points Per Game: {{this.ppg}}</li>
</ul>
{{/each}}
